[submodule "src/cli"]
	path = src/cli
	url = git@github.com:daniele77/cli.git
[submodule "src/json"]
	path = src/json
	url = git@github.com:nlohmann/json.git
[submodule "build/cli"]
	path = build/cli
	url = git@github.com:daniele77/cli.git
[submodule "build/json"]
	path = build/json
	url = git@github.com:nlohmann/json.git
